@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #003366; /* Deep Navy Blue */
  --accent-gold: #FFD700; /* Rich Gold */
  --accent-gold-dark: #DAA520; /* Darker Gold for hover/text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* Light Poppins as default */
}
